<div class="horizontal-wrapper">
  <div class="general-container">
    <mat-card>
      <div class="general-info">
        <h2>Малахов Дмитрий Александрович</h2>
        <p>Старший инженер по разработке</p>
        <p>Front-end разработчик</p>
      </div>
      <div class="progress-info">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      </div>
    </mat-card>
  </div>
</div>

<div class="horizontal-wrapper">
  <div class="events-container item-container">
    <mat-card>
      events
    </mat-card>
  </div>
  <div class="achievements-container item-container">
    <mat-card>
      achievements
    </mat-card>
  </div>
</div>

<div class="horizontal-wrapper">
  <div class="loot-container item-container">
    <mat-card>
      loot
    </mat-card>
  </div>
  <div class="skills-container item-container">
    <mat-card>
      skills
    </mat-card>
  </div>
</div>
