<mat-toolbar color="primary" class="toolbar">
  <div class="title" routerLink="">
    D&D Dashboard
  </div>
  <div class="menu">
    <!--    <button mat-flat-button routerLink="ranks">Рейтинг</button>-->
    <button mat-raised-button [routerLink]="['/']" [queryParams]="{route: 'team'}">Команда</button>
    <button mat-flat-button [routerLink]="['/']" [queryParams]="{route: 'battle'}">Рейд</button>
  </div>
</mat-toolbar>
<div class="container">
  <div class="dashboard" *ngIf="!isBattle && !isTeam">
    <div class="horizontal-wrapper">
      <div class="general-container">
        <mat-card>
          <div class="general-info">
            <div class="image">
              <img
                [src]=avatarSrc
              />
            </div>
            <div class="text-data">
              <h2>Малахов Дмитрий Александрович</h2>
              <p class="role">Старший инженер по разработке</p>
              <p>Front-end разработчик</p>
            </div>
          </div>
          <div class="progress-info">
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="horizontal-wrapper">
      <div class="events-container item-container">
        <mat-card>
          <mat-list *ngIf="events">
            <h2 mat-subheader>События</h2>
            <mat-list-item *ngFor="let event of events">
              <mat-icon mat-list-icon>edit</mat-icon>
              <h4 mat-line>{{event.name}}</h4>
              <p>{{event.score}}</p>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
      <div class="achievements-container item-container">
        <mat-card>
          <mat-list>
            <h2 mat-subheader>Достижения</h2>
            <mat-list-item *ngFor="let folder of folders">
              <mat-icon mat-list-icon>security</mat-icon>
              <h4 mat-line>{{folder.name}}</h4>
              <p mat-line> {{folder.description}} </p>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </div>

    <div class="horizontal-wrapper">
      <div class="loot-container item-container">
        <mat-card class="loot-list">
          <mat-card class="loot-item" [ngClass]="accessoir === 'Blank' ? '' : 'active'" (click)="setAccessoir()">
            <mat-card-header>
              <div mat-card-avatar class="img1"></div>
              <mat-card-title>Модные очки</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Защищают от радиоактивного излучения боссов
            </mat-card-content>
          </mat-card>
          <mat-card class="loot-item">
            <mat-card-header>
              <div mat-card-avatar class="img2"></div>
              <mat-card-title>Олдскульная шляпа</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              Помогает скрываться от палящего солнца и круто выглядит
            </mat-card-content>
          </mat-card>
          <mat-card class="loot-item">
            <mat-card-header>
              <div mat-card-avatar class="img2"></div>
              <mat-card-title>Густая борода</mat-card-title>
            </mat-card-header>
            <mat-card-content>+99999 к харизме</mat-card-content>
          </mat-card>
          <mat-card class="loot-item">
            <mat-card-header>
              <div mat-card-avatar class="img4"></div>
              <mat-card-title>Шапка горнолыжника</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Редкий предмет за победу на горнолыжном чемпионате</p>
            </mat-card-content>
          </mat-card>
        </mat-card>
      </div>
      <div class="skills-container item-container">
        <mat-card>
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="battle" *ngIf="isBattle">
    <mat-card>
      <div class="raid-card-list">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="img1"></div>
            <mat-card-title>Александр Валерьевич</mat-card-title>
            <mat-card-subtitle>Backend разработчик</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="img2"></div>
            <mat-card-title>Виталий Анатольевич</mat-card-title>
            <mat-card-subtitle>Frontend разработчик</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="img3"></div>
            <mat-card-title>Анатолий Павлович</mat-card-title>
            <mat-card-subtitle>Backend разработчик</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="img3"></div>
            <mat-card-title>Антон Евгеньевич</mat-card-title>
            <mat-card-subtitle>Владелец продукта</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <button mat-raised-button color="warn"
              class="attack"
              [disabled]="isAttacking || dragonHP <= 10"
              (click)="attack()">Атаковать</button>
    </mat-card>

    <mat-card *ngIf="!isAttacking">
      <h1 class="versus">VS.</h1>
    </mat-card>

    <div class="damage-container" *ngIf="isAttacking">
      <img src="../assets/damage.gif" class="damage">
    </div>

    <mat-card class="dragon" *ngIf="dragonHP >= 10">
      <img src="../assets/dragon.jpg">
      <h3>{{dragonHP}}/100</h3>
      <mat-progress-bar [mode]="determinate" [value]="dragonHP" color="warn"></mat-progress-bar>
    </mat-card>
    <mat-card class="dragon-loot" *ngIf="dragonHP < 10">
      <img src="../assets/hat.jpg" alt="">
      <img src="../assets/flowers.jpg" alt="">
      <img src="../assets/glasses.jpg" alt="">
      <div class="pizza-wrapper">
        <img src="../assets/pizza.jpg" alt="" class="pizza" (click)="goToPizza()">
      </div>
    </mat-card>
  </div>

  <div class="team" *ngIf="isTeam">
    <div class="horizontal-wrapper">
      <div class="team-container">
        <mat-card class="team-title-card">
            <mat-card-title>Моя команда</mat-card-title>
        </mat-card>

        <mat-card>
          <div class="team-card-list">
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="img1"></div>
                <mat-card-title>Александр Валерьевич</mat-card-title>
                <mat-card-subtitle>Backend разработчик</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="img2"></div>
                <mat-card-title>Виталий Анатольевич</mat-card-title>
                <mat-card-subtitle>Frontend разработчик</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="img3"></div>
                <mat-card-title>Анатолий Павлович</mat-card-title>
                <mat-card-subtitle>Backend разработчик</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <div mat-card-avatar class="img3"></div>
                <mat-card-title>Антон Евгеньевич</mat-card-title>
                <mat-card-subtitle>Владелец продукта</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
