/* You can add global styles to this file, and also import other style files */
body
  background: url("assets/bcg.png")
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  background-size: cover
  opacity: 0.96

.img1
  background-image: url('https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Blank&hairColor=Blonde&facialHairType=Blank&clotheType=Hoodie&clotheColor=Blue03&eyeType=Default&eyebrowType=SadConcerned&mouthType=Default&skinColor=Brown')
  background-size: cover

.img2
  background-image: url('https://avataaars.io/?avatarStyle=Circle&topType=ShortHairFrizzle&accessoriesType=Sunglasses&hairColor=Blonde&facialHairType=BeardMedium&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Heather&graphicType=Pizza&eyeType=Surprised&eyebrowType=FlatNatural&mouthType=Serious&skinColor=Pale')
  background-size: cover

.img3
  background-image: url('https://avataaars.io/?avatarStyle=Circle&topType=LongHairBob&accessoriesType=Sunglasses&hairColor=BrownDark&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtScoopNeck&clotheColor=Gray02&graphicType=Deer&eyeType=Happy&eyebrowType=RaisedExcited&mouthType=Default&skinColor=Brown')
  background-size: cover

.img4
  background-image: url('https://avataaars.io/?avatarStyle=Circle&topType=LongHairDreads&accessoriesType=Prescription02&hatColor=PastelOrange&hairColor=Black&facialHairType=MoustacheMagnum&facialHairColor=Blonde&clotheType=CollarSweater&clotheColor=Blue01&graphicType=Resist&eyeType=WinkWacky&eyebrowType=FlatNatural&mouthType=ScreamOpen&skinColor=DarkBrown')
  background-size: cover

.menu
  button
    margin: 0 10px

.role
  margin: 0 30px

.horizontal-wrapper
  width: 100%
  display: flex
  justify-content: space-between
  .item-container
    width: 49%
    margin-top: 2%

.general-container
  width: 100%
  margin-top: 50px
  .general-info
    display: flex
    .image
      margin-bottom: 20px
    .text-data
      display: flex
      align-items: center
      justify-content: space-around
      margin-left: 50px
      margin-right: 50px
.mat-progress-bar
  height: 25px !important

.team-title-card
  width: fit-content
  margin: 50px 0

.team-card-list
  width: 100%
  display: flex
  justify-content: space-between
  mat-card
    margin: 0 10px

.loot-list
  //display: flex
  //flex-wrap: wrap
  .loot-item
    margin-top: 20px
    cursor: pointer
    //width: 42.5%
    //display: inline-block
    //height: 120px
    mat-card-content
      margin-top: 15px

.battle
  //display: flex
  justify-content: space-around
  align-items: center
  margin-top: 50px
  mat-card
    margin-top: 10px

.raid-card-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  mat-card
    margin: 10px
.versus
  font-size: 48px
  font-weight: 900
  text-align: center
.dragon
  text-align: center
  img
    width: 50%

.active
  background-color: #38a7005c

.damage
  transform: rotate(90deg)
  height: 50px
.damage_popup
  transform: rotate(90deg)
  //height: 50px

.attack
  width: 100%
.damage-container
  width: 100%
  text-align: center
  margin-top: 30px
.dragon-loot
  text-align: center
  img
    width: 100px
  .pizza-wrapper
    img
      width: 400px
      border-radius: 50px
      cursor: pointer
